body{

    height: 4000px;
}
fieldset{

    background: #efefef;
    padding: 10px;/*حشوة*/
    border: 5px solid #ccc;/*الحدود*/
    margin-bottom: 20px;/*حافة*/
    
}
legend{
   background-color: #fff;
   border: 1px solid #ccc;
   padding: 5px; 
}

